
.footer-container {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    font-family: "Arial", sans-serif;
  }

  .footer-content {
    margin-bottom: 10px;
  }
  
  .footer-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer-content p {
    font-size: 16px;
    margin: 0 0 15px;
  }
  

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .social-icons a:hover {
    transform: scale(1.2);
    color: #3498db;
  }
  

  .footer-bottom {
    border-top: 1px solid #34495e;
    padding-top: 10px;
    font-size: 14px;
  }
  